$primary-color: #5c2d91;
$secondary-color: #ffffff;
$border-color: #ddd;
$text-color: #333;
$gray-color: #9f9e9e;
$red-color: #bd0606;
$highlight-color: #daff3f;
$rating-color: #f0c14b;
$font-stack: "Roboto", sans-serif;
$border-radius: 8px;
