.product-card {
  @include card;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  button {
    @include button;
  }
}
